VITE_JCZ_BUSINESS_API=https://business-api.jczcare.com
JCZ_BUSINESS_CENTER_WEBHOOK_URL=
RESEND_API_KEY=
CONTACT_TO_EMAIL=hengtuo@nthengtuo.com
CONTACT_FROM_EMAIL=
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=工作表1
APPLE_CLIENT_ID=
APPLE_REDIRECT_URI=
